body {
  font-family: sans-serif;  
  background: #131313;  
  color: #fff;
  margin: 0;
}

.app {
  padding: 0 .6em;
  text-align: center;
  max-width: 40em;
  margin: 0 auto;
}

.flashparty {
  background: #E891D0;
  width: 100%;
  margin: 0;
  color: #131313;
  padding: .3em 0;
  font-size: .8em;
}

.flashparty p {
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

h4 {
  color: #E891D0;
  margin: 0;
}



p {
  text-align: left;
}

.title {
  max-width: 21em;
  margin: 0 auto;
}

.title h2 {
  text-align: right;
  color: aqua;
  font-size: .9em;
}

.flashparty a {
  color: #131313;
}

.floppygif {
  margin-top: 1em;
}

.img-tree {
  margin-left: 1em;
}

.img-tree img {
  max-width: 95%;
  border-radius: 7px;
  margin: .7em 0;
}

a {
  color: aqua;
}

a:hover {
  color: #fff;
}

.disclaimer p {
  font-size: .7em;
}

